@import "base/variables";
@import "base/mixins";
@import "base/reset";
/** 按钮 **/
// @import "components/buttons";

html, body {
	height: 100%;
}

.pages {
	height: 100%;
	.page {
		position: relative;
		height: 100%;
		overflow: hidden;
	}
	.page1 {
		$spriteSize: 320px 400px;
		background: nth($pageMainColor, 1) url(../images/page1_bg.jpg) center top no-repeat;
		background-size: contain;
		.medal {
			width: (567px/2);
			height: (434px/2);
			margin: 35px auto 0;
			background: url(../images/page1_sprite.png) 0 (-134px/2) no-repeat;
			background-size: $spriteSize;
		}
		.clouds {
			div {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				background-image: url(../images/page1_sprite.png);
				background-repeat: no-repeat;
				background-size: cover;
			}
			.cloud1 {
				z-index: 2;
				padding-top: percentage(182px/640px);
				background-position: left bottom;
			}
			.cloud2 {
				padding-top: percentage(134px/640px);
				opacity: .7;
				margin-bottom: 6%;
			}
		}
	}
}